# Beginner Python and Math for Data Science
## Lecture 2
### Python Built-In Data Types

__Purpose:__
The purpose of this lecture is to explore the Built-In Types in Python, specifically learning about Lists, Strings, Tuples, Range, Sets and Dictionaries. In each case, we will learn the definition and characteristics of each type, how to create variables as these types in Python, how to access data from these variables and how to manipulate these variables. 

__At the end of this lecture you will be able to:__
1. Understand the similarities and differences between the common Built-In Types in Python and when to use one type over another type
2. Create, access, and manipulate lists in Python
3. Create, access, manipulate and format strings in Python 
4. Create and acess tuples in Python 
5. Create, access, manipulate and use range types in Python 
6. Create, access, and manipulate sets in Python 
7. Create, access, and manipulate dictionaries in Python

## 2.1 General Overview of Python's Built-In Data Types

### 2.1.1 What are Python's Built-In Data Types?

__Overview:__
- Recall that a __Data Type__ refers to the category in which the object you are creating belongs to 
- Recall that in Python there are 4 __[Built-In/Standard/Principal Data Types](https://docs.python.org/3/library/stdtypes.html#built-in-types)__ as described below
- Each Built-In Data Type refers to a "bucket" or "category" that encompasses multiple sub-types 
>1. __[Numeric Types](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex):__ Such as `int`, `float`, and `complex` 
>2. __[Sequence Types](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range):__ Such as `list`, `str`, `tuple` and `range`
>3. __[Set Types](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset):__ Such as `set`
>4. __[Mapping Types](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict):__ Such as `dict`

__Helpful Points:__
1. Recall you can use the functions `type()` or `isinstance()` to view the type of any object
2. In Lecture 1, Numeric Types were covered in detail so we will begin Lecture 2 with the second Build-In Data Type - __Sequence Types__ (we briefly saw one Sequence Type in Lecture 1 - the Text Sequence Type (`str`), but as promised, we will explore this Data Type in more detail here)

### 2.1.2 Comparison of Python's Built-In Data Types

__Overview:__
- In general, the Data Types in Python can be distinguished by one characteristic -  __[Mutability](https://en.wikipedia.org/wiki/Immutable_object):__ which refers to the ability of a user to change the object AFTER the object has been created 
- Some Data Types in Python are __Mutable__ (their contents CAN be changed after creation of the variable) and other Data Types in Python are __Immutable__ (their contents CAN NOT be changed after creation of the variable)
- We will see the concept of mutability as it plays out for each data type
- See below for a classification of Built-In Data Types based on Mutability:
> 1. __Mutable Types__: `list`, `set`, `dict`
> 2. __Immutable Types__: `int`, `float`, `complex`, `str`, `tuple`, `bool`, and `range`

__Helpful Points:__
1. In some cases, you will have the choice of which Data Type you choose to use for an object. This decision may have consequences so we will explore later the instances where it is advantageous to use one type over another

## 2.2 Sequence Types in Python

### 2.2.1 What is a Sequence Type?

__Overview:__
- __[Sequence Type](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range):__ The main Sequence Types in Python refer to `list`, `str`, `tuple` and `range`
- Sequence Types in Python have the following characteristics:
> - Sequence Types are ordered (each element from left to right is assigned a number in increasing order - this allows us to index (find) elements within the sequence)
> - Sequence Types do not have to contain only unique elements
> - Sequence Types can be mutable or immutable 

__Helpful Points:__
1. We will explore each Sequence Type individually in the subsequent sections

### 2.2.2 Sequence Type Operations

__Overview:__
- Depending on if the Sequence Type is mutable or immutable, it is subject to a different set of operations:
>1. __Mutable Sequence Types:__ Mutable Sequence Types can be operated on using the __[Common Sequence Operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations)__  AND the __[Mutable Sequence Type Operations](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types)__ 
>2. __Immutable Sequence Types:__ Immutable Sequence Types can be operated on using ONLY the __Common Sequence Operations__

- The __Common Sequence Operations__ can be grouped together in the following categories:
> 1. Indexing and Slicing  
> 2. Membership Test Operations
> 3. Concatenation and Repetition
> 4. Miscalleneous Actions such as length, max, min, index, count, and sort

- The __Mutable Sequence Type Operations__ can be grouped together in the following categories:
> 1. Changing elements
> 2. Adding elements
> 3. Removing elements
> 4. Other operations (reverse, copy)

__Helpful Points:__
1. While exploring each Sequence Type below, we will also practice using the appropriate set of Sequence Type Operations based on the type's mutability

### 2.2.3 Overview of Sequence Type 1 - Lists

__Overview:__
- __[Lists](https://docs.python.org/3/library/stdtypes.html#lists):__ Lists are mutable sequences that are typically used to store collections of __homogenous__ (similar) items, but are capable of storing possibly different types (`bool`, `str`, `int`, etc.)

__Helpful Points:__
1. Lists are defined by square brackets `[` and `]`
2. Each element in a list is separated by a comma

### 2.2.4 Creating Lists

__Overview:__
- There are multiple ways to create a List in Python:
> 1. Method 1: Using a pair of square brackets to denote the empty list
> 2. Method 2: Using square brackets, separating items with commas
> 3.  Method 3: Using the __[Type Constructor](https://en.wikipedia.org/wiki/Type_constructor)__ 

__Helpful Points:__
1. It is also possible to create a list within a list also known as a __[Nested](https://en.wikipedia.org/wiki/Nesting_(computing)__ List

__Practice:__ Examples of creating lists in Python

### Example 1 (Create List with Method 1)

# take another look here

In [14]:
empty_list = []
print(empty_list)

[]

In [15]:
type(empty_list)

list

In [16]:
isinstance(empty_list, list)

True

### Example 2 (Create List with Method 2)

In [17]:
non_empty_list = [True, 1.0, "Gordon"]
print(non_empty_list)

[True, 1.0, 'Gordon']

Notice that the list can contain objects of different types (here we have `bool`, `float`, and `str`)

In [18]:
type(non_empty_list)

list

In [19]:
print(non_empty_list)

[True, 1.0, 'Gordon']

In [20]:
isinstance(non_empty_list, list)

True

### Example 3 (Create List with Method 3)

In [21]:
empty_list_1 = list()
print(empty_list_1)

[]

In [22]:
type(empty_list_1)

list

In [23]:
isinstance(empty_list_1, list)

True

### Example 4 (Create Nested List with Method 2)

In [24]:
list_1 = ["Gordon", 1.0]
nested_list = [list_1, True]
print(nested_list)
print(len(nested_list))

[['Gordon', 1.0], True]
2

In [25]:
type(nested_list)

list

In [26]:
isinstance(nested_list, list)

True

### 2.2.5 Accessing Elements within Lists

__Overview:__
- Each item within a list (those separated by commas) are referred to as __elements__ and they can easily be accessed (for example, if you want to extract the second element of a list)
- The reason why elements are so accessible is because each element is assigned a number beginning with 0 (since Python is __[Zero-Based](https://en.wikipedia.org/wiki/Zero-based_numbering)__)
- The process of accessing elements within lists (or any sequence type and some other types) is known as __indexing__
- Indexing is a type of __[Common Sequence Operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations)__ as mentioned in section 2.2.2 (see the 5th through 7th row in the table)
> 1. __Index Method 1__ (one element): Single-Indexing is done by `list_name[i]` where `i` refers to the index or element that you want to access<br>
> \- The type of the output of a one element index is whatever type that element is of (`int`, `str`, etc.)
> 2. __Index Method 2__ (multiple elements): Multi-Indexing (__slicing__) is done by `list_name[i:j]` where `i` refers to the index or element that you want to start the slice at and `j` refers to the index that you want to end the slice at, but not including this element __([half-open interval to the right](https://en.wikipedia.org/wiki/Interval_(mathematics))__ otherwise written as `[i,j)`<br>
> \- The type of the output of a multiple element index is a `list`<br>
> \- The general form of a slice is `[start:stop:step]`<br>
> \- The `start`, `stop`, or `step` can be ommitted and Python will infer what to do (see examples)<br>
> \- The `step` defaults to 1 if not specified otherwise<br>
> \- The `step` can be positive or negative. If positive, the slicing moves left to right (forward). If negative, the slicing moves from right to left (backward)

__Helpful Points:__
1. It is possible to index both regular lists and nested lists, but the way you do it in both cases is a bit different so we will explore each scenario separately
2. Lists can only be indexed by `int` and not any other type (i.e. `bool`)
3. Python has some peculiar yet helpful characteristics with indexing out-of-range which are in the programmer's favor (see examples)

__Practice:__ Examples of accessing elements within lists

### Example 1 (Index Method 1 with Non-Nested Lists and Positive Index):

In [27]:
my_list = [4, 5, "G", 1]
# my_list_fwd_index = [0, 1, 2, 3]

In [28]:
# oth element from the left (with and without saving list as a variable)
print(my_list[0])
print([4, 5, "G", 1][0])
type(my_list[0])

4
4

int

In [29]:
# 1st element from the left (with and without saving list as a variable)
print(my_list[1])
print([4, 5, "G", 1][1])
type(my_list[1])

5
5

int

In [30]:
# 2nd element from the left (with and without saving list as a variable)
print(my_list[2])
print([4, 5, "G", 1][2])
type(my_list[2])

G
G

str

In [31]:
# 3rd element from the left (with and without saving list as a variable)
print(my_list[3])
print([4, 5, "G", 1][3])
type(my_list[3])

1
1

int

Note that if a list is not saved as a variable and then indexed, the first set of square brackets refer to the left and right bound of the list and the next set of the square brackets refer to the "one-element index."

### Example 2 (Index Method 2 with Non-Nested List, Positive Slice and Forward Direction):

In [32]:
my_list_1 = [1, 4, 2, 5, 5, 1]

In [33]:
# slice from 1st element to 4th element (5th element minus one) by step 1 
print(my_list_1[1:5])
type(my_list_1[1:5])

[4, 2, 5, 5]

list

In [34]:
# slice from 3rd element to 3rd element (4th element minus one) by step 1 
print(my_list_1[3:4])
type(my_list_1[3:4])

[5]

list

In [35]:
# slice from 3rd element to 2nd element (3rd element minus one) by step 1
print(my_list_1[3:3])
type(my_list_1[3:3])

[]

list

In [36]:
# trying something
# slice from 3rd element to 2nd element (3rd element minus one) by step 1
print(my_list_1[3:1:-1])
type(my_list_1[3:1:-1])

[5, 2]

list

In the two cases above, the `step` argument of the slice was ommitted, therefore the slices were incremented by `1` as the default setting. We can override the default by inputting a number in the `step` argument.

In [37]:
# slice from 1st element to 4th element (5th element minus one) by step 2 
print(my_list_1[1:5:2])

[4, 5]

### Example 3 (Index Method 2 with Non-Nested List, Positive Slice, Forward Direction and Ommitted Argument(s) ):

In [38]:
my_list_1 = [1, 4, 2, 5, 5, 1]

In [39]:
# ommitting stop and step arguments
# return 1st element to last element 
print(my_list_1[1:])

[4, 2, 5, 5, 1]

If the stop argument is ommitted, all the remaining elements will be returned from the start element

In [40]:
# ommitting start and step arguments
# return 0th element to 2nd element (3rd element minus one)
print(my_list_1[:3])

[1, 4, 2]

If the start argument is ommitted, the slice begins at the 0th element and returns all elements to the stop element minus one

In [41]:
# ommitting start and stop arguments
# return all elements at step 2
print(my_list_1[::2])

[1, 2, 5]

In [42]:
#trying something
print(my_list_1[::-1])

[1, 5, 5, 2, 4, 1]

If the start and stop arguments are ommitted, the slice will return all elements based on the step argument

### Example 4 (Index Method 1 with Non-Nested List and Negative Index):

In [43]:
my_list = [4, 5, "G", 1]
# my_list_bwd_index = [-4, -3, -2, -1]

In [44]:
# comment from Garrett: negative index is positive index minus length

In [45]:
#trying something
my_list = [4, 5, "G", 1]
# my_list_bwd_index = [-4, -3, -2, -1]
# my_list_      index = 0  1    2   3

In [46]:
# 1st element from the right (with and without saving list as a variable)
print(my_list[-1])
print([4, 5, "G", 1][-1])
type(my_list[-1])

1
1

int

In [47]:
# same as above 
print(my_list[3])

1

In [48]:
# 2nd element from the right (with and without saving list as a variable)
print(my_list[-2])
print([4, 5, "G", 1][-2])
type(my_list[-2])

G
G

str

In [49]:
# same as above 
print(my_list[2])

G

In [50]:
# 3rd element from the right (with and without saving list as a variable)
print(my_list[-3])
print([4, 5, "G", 1][-3])
type(my_list[-3])

5
5

int

In [51]:
# same as above 
print(my_list[1])

5

In [52]:
# 4th element from the right (with and without saving list as a variable)
print(my_list[-4])
print([4, 5, "G", 1][-4])
type(my_list[-4])

4
4

int

In [53]:
# same as above
print(my_list[0])

4

### Example 5 (Index Method 2 with Non-Nested List, Negative Slice and Backward Direction):

In [54]:
my_list_1 = [1, 4, 2, 5, 5, 1]

In [55]:
# slice from 4th element to 2nd element (1st element plus one) by step -1 
print(my_list_1[4:1:-1])
type(my_list_1[4:1:-1])
# now inclusive on left side and exclusive on right side

[5, 5, 2]

list

In [56]:
#trying something
print(my_list_1[4:1])

[]

** Above, Why doesn't it at least return the 4-ith element? ** **

Notice that when the `step` argument is a negative number, Python allows the `start` argument to be larger than the `stop` argument since it understands that we are moving backwards (or from right to left) through the list. Not only does Python allow this behavior, it actually requires it. In the event the `step` argument is negative, the `start` argument must be greater than the `stop` argument or Python will return an empty list. 

We can re-write the above example, but ommitting the step argument (so it defaults to 1) and using start and stop arguments as their negative index numbers and compare the results.

In [57]:
# slice from 4th element to the right to the 2nd element to the right (1st element to the right plus one) by step 1
print(my_list_1[-4:-1])
type(my_list_1[-4:-1])

[2, 5, 5]

list

Compare the order of this list to the one above. This list here is printed forward despite having negative slicing index and the list above is printed backward despite having positive slicing index. The reason for this "tricky" behavior lies in the sign of the `step` argument. A positive `step` argument will ALWAYS print your list in the forward direction, whereas a negative `step` argument will ALWAYS print your list in the backward direction. Don't get confused by the sign of the indices - these do NOT dictate the sign in which the list is printed, but only dictate which side of the list you begin counting at (i.e. left or right side).

In [58]:
# slice from 4th element to 4th element (3rd element plus one) by step -1 
print(my_list_1[4:3:-1])
type(my_list_1[4:3:-1])

[5]

list

We can also change the decrement interval by changing the value in the `step` argument.

In [59]:
# slice from 5th element to 3rd element (2nd element plus one) by step -2 
print(my_list_1[5:2:-2])

[1, 5]

### Example 6 (Index Method 2 with Non-Nested List, Negative Slice, Backward Step and Ommitted Argument(s) ):

In [60]:
my_list_1 = [1, 4, 2, 5, 5, 1]

In [61]:
# ommitting stop and step arguments
# return the 2nd element from the right to the end of the list 
print(my_list_1[-2:])

[5, 1]

Positive step means the list will be printed in a forward direction, negative index means we start counting from the right side moving left.

In [62]:
# ommitting start and step arguments
# returns the 0th element to the fourth element from the right 
print(my_list_1[:-3])

[1, 4, 2]

In [63]:
# I didn't understand a first, but now I do: it's start at the beginning, and go to index -3, 
# which coresponds to index + 3 (stoppint at index 3 and not including it)

Positive step means the list will be printed in a forward direction, negative index means we start counting from the right side moving left.

In [64]:
# ommitting start and stop arguments
# return all elements at step -2
print(my_list_1[::-2])
### it starts from the end then steps by two

[1, 5, 4]

Negative step means the list will be printed in a backward direction, positive indices means we start counting from the left side moving right.

In [65]:
# same as above
print(my_list_1[5:0:-2])

[1, 5, 4]

In [66]:
# same as above
print(my_list_1[-1:-6:-2])

[1, 5, 4]

### Example 7 (Index Method 1 with Nested List):

In [67]:
list_1 = ["Gordon", 1.0]
nested_list = [list_1, True]
print(nested_list)

[['Gordon', 1.0], True]

In [68]:
# access 0th element of the outer list
nested_list[0]

['Gordon', 1.0]

In [70]:
# access 1st element of the inner list 
nested_list[0][1]

1.0

### Example 8 (Index Method 2 with Nested List):

In [72]:
# slice from 0th element to 0th element (1st element minus one) with step 1
nested_list[0:1]

[['Gordon', 1.0]]

Recall that when we use Method 2 (slicing), the output is a `list`. Now in this case since the element we selected is also a list, our result is a list within a list.

In [73]:
### ie we are taking a sublist of the list, even though it's a list with one entry ###

### Example 9 (Indexing Out-of-Range - Error):

In [74]:
my_list_1 = [1, 4, 2, 5, 5, 1]

In [75]:
# will yield an error
my_list_1[10]

IndexError: list index out of range

An `IndexError` is raised here since the maximum element of the variable `my_list_1` is 5 and we asked for the 10th element here.

### Example 10 (Indexing Out-of-Range - No Error):

In [76]:
# will not yield an error
my_list_1[:10]

[1, 4, 2, 5, 5, 1]

We can see that although the 10th element in the variable `my_list_1` does not exist, Python's interpreter does not raise an error. The reason being is that the interpreter understands that the `stop` argument in the slice is out-of-index and should be interpreted instead as the end of the list.

In [77]:
# will not yield an error
my_list_1[10:]

[]

We can see that although the 10th element in the variable `my_list_1` does not exist, Python's interpreter does not raise an error. The reason being is that the interpreter understands that the `start` argument in the slice is out-of-index and should be interpreted instead as an empty list.

### Problem 1:

Create a list and enter in the items `"c"`, `"a"`, `"b"`, `1`, `3`, `2` then reverse this list so it looks like `2`, `3`, ... Print your result.  

- Use list slicing in your answer 
- Do not use any embedded functions in Python to reverse the list

In [78]:
# Write your code here
list = ["c", "a", "b", 1, 2, 3]
reverse = list[::-1]
print(reverse)

[3, 2, 1, 'b', 'a', 'c']

### Problem 2:

Create a list and enter in the items `"c"`, `"a"`, `"b"`, `1`, `3`, `2` then use slicing to pull out the subset `["b", 3]` ... Print your result.

- Use list slicing in your answer

In [79]:
# Write your code here
#list defined above
print(list[2:7:3])

['b', 3]

In [ ]:
### look into the particulars of list slicing syntax ### - I'm not sure what about this I didn't understand...

### 2.2.6 More List Operations

__Overview:__
- Recall in section 2.2.2 the types of operations available for Sequence Types and specifically Mutable Sequence Types
- Since the `list` type is mutable, we can perform both the Common Sequence Operations AND the Mutable Sequence Type Operations 

__Helpful Points:__
1. Below, Part 1 will cover the Common Sequence Type Operations (membership test operations, list concatenation and repetition, and misc. actions)
2. Below, Part 2 will cover the Mutable Type Sequence Operations (changing elements, adding elements, and removing elements)

__Practice:__ Examples of List Operations in Python

### Part 1: Common Sequence Type Operations

### Example 1.1 (Membership Test Operations - `in` for lists):

- Recall Section 1.10.3 in Lecture 1 - Membership Test Operations for `str` types
- Here, Membership Test Operations are used in the same fashion and the meaning of the operators `in` and `not in` are the same as described in Lecture 1

In [80]:
my_list = ["G", "R", 1, True]

In [81]:
my_string = "Gordon"

In [82]:
"" in my_string

True

In [83]:
1 in my_list

True

In [84]:
[] in my_list

False

In [85]:
"" in my_list

False

We can see that the same behavior that was present for strings (empty strings are always considered to be a member of a string), is not also true with lists. An empty list is not always a member of a list and an empty string is not always a member of a list. 
** the empty string is in every string, but the empty list does not automatically contain the empty list **

In [86]:
my_list_1 = [[], "", my_list]
print(my_list_1)

[[], '', ['G', 'R', 1, True]]

In [87]:
[] in my_list_1

True

In [88]:
"" in my_list_1

True

After entering an empty list and empty string as elements into the list, both membership tests are now `True`

In [89]:
"R" in my_list_1

False

In [90]:
"R" in my_list_1[2]

True

In the case of nested lists, unless you specify the element to which the nested list is in, the membership test will not output a `True` result when checking if a value is a member of the list.

### Example 1.2 (Membership Test Operations - `not in` for lists):

In [91]:
### added
print(my_list)

['G', 'R', 1, True]

In [92]:
"a" not in my_list # is the "a" not a member of my list

True

In [93]:
"R" not in my_list

False

### Example 1.3 (Concatenation of Lists):

- Note that when using the `+` sign in Python with Sequence Types, it does not refer to vectorized addition
- In other words, `list_1` + `list_2` is NOT equal to a new list which is the addition of each term of list_1 and list_2
- Instead, the $+$ sign __[concatenates](https://en.wikipedia.org/wiki/Concatenation)__ list_2 to list_1 to make a new list that includes both lists 
- See below for how the $+$ operator works on Python lists

In [94]:
[1,2,3] * 3 = [3, 6, 9] # vectorized addition (vectorized operations) DOES NOT HAPPEN IN PYTHON

SyntaxError: can't assign to operator (<ipython-input-94-360733733376>, line 1)

In [95]:
list_1 = ["Gordon", 1, "a"] # 3 elements 
list_2 = ["Roberto", 2, "b"] # 6 elements  ### actually 3 elements
list_3 = list_1 + list_2 # 6 elements
print(list_3)

['Gordon', 1, 'a', 'Roberto', 2, 'b']

In [96]:
list_1 = ["Gordon", 1, "a"]
list_2 = ["Roberto", 2]
list_3 = list_1 + list_2
print(list_3)

['Gordon', 1, 'a', 'Roberto', 2]

We can see that the lists do not need to be of equal length to be added.

### Example 1.4 (Repetition of Lists):

- Note that when using the `*` sign in Python with Sequence Types, it does not refer to vectorized multiplication
- In other words, list_1 `*` n is NOT equal to a new list which is the multiplication of each term of list_1 by n
- Instead, the `*` sign repeats list_1 n times to make a new list
- See below for how the `*` operator works on Python lists

In [97]:
list_1 = ["Gordon", 1, "a"]
print(list_1 * 3)

['Gordon', 1, 'a', 'Gordon', 1, 'a', 'Gordon', 1, 'a']

In [98]:
print(list_1 + list_1 + list_1)

['Gordon', 1, 'a', 'Gordon', 1, 'a', 'Gordon', 1, 'a']

### Example 1.5 (Misc. Actions on Lists):

- Within the Common Sequence Types, there exist a set of useful functions that can be used as operations on lists (len, min, max, index, count, and sort))

### Example 1.5.1 (Simple Actions - `len`, `min`, `max`, `index`, `count`)

In [108]:
my_list = [1, 36.3, 5, 4, 36.3]

In [100]:
# find the length of the list (number of elements in the list)
len(my_list)

5

In [101]:
# find the minimum value of the list (smallest element in the list)
min(my_list)

1

In [102]:
# find the maximum value of the list (largest element in the list)
max(my_list)

36.3

In [103]:
# find the index of the first occurrence of 36.3 in my_list
my_list.index(36.3)

1

In [104]:
# find the total number of occurrences of 36.3 in my_list
print(my_list.count(36.3))

2

### Example 1.5.2 (Advanced Actions - `sort`)

__Overview:__
- Since lists are mutable, sorting lists in Python can be done 2 different ways:
> 1. __Method 1:__ Using the `sorted()` function. This method does NOT modify the original list, but just returns a copy of the original list. 
> ** ** actually returns none **
> 2. __Method 2:__ Using the `list.sort()` method. This method DOES modify the original list and returns the original list sorted. 

__Helpful Points:__
1. Whether a function modified the original object or simply returns a copy of the object, but doesn't change the original object deals with a concept called the __[In-Place Algorithm](https://en.wikipedia.org/wiki/In-place_algorithm).__
2. __In-Place:__ In-place means that the original object is modified (`list.sort()` method)
3. __Not In-Place:__ Not In-place means that the original object is NOT modified (`sorted()` function)
4. To determine if you want an in-place or "not" in-place method, ask yourself if you need the original list. If you don't need the original list, you will want to use `list.sort()`, if you do need the original list, you will want to use `sorted()`
5. See [here](https://docs.python.org/3/howto/sorting.html) for more information on sorting in Python 

__Practice:__ Examples of sorting in Python

In [109]:
# sort the list using method 1 (retaining the original variable, simply create a copy )
print(sorted(my_list))
print(my_list)

[1, 4, 5, 36.3, 36.3]
[1, 36.3, 5, 4, 36.3]

We can see that the `sorted()` function simply returned a copy of the original list, but when we print the original list, it has not changed. This is an example of not in-place.

In [110]:
# sort the list using method 2 (overwriting the original variable)
print(my_list.sort())     # gives none because there is no new object to output
print(my_list)

None
[1, 4, 5, 36.3, 36.3]

We can see that the `list.sort()` method first returns `None` to avoid confusion since no copy was made and then when we print the original list, we see it has changed. This is an example of in-place.

** comment: in general functions return a new object and methods act on an existing object and don't return anything new **

### Part 2: Mutable Sequence Type Operations

### Example 2.1 (Changing Elements of Lists):

- Elements within a list can be changed using both index and slices

### Example 2.1.1 (Changing Elements of Lists with Indexing):

In [111]:
my_list = [1, 4, 36.3, "G", True]

In [112]:
a = 1 # the variable is assigned a value of 1
### just here as an example/reminder of variable assignment ###

In [113]:
print(my_list[1])
# change element by index
my_list[1] = "Change" # the element at index 1 is assigned a value of "Change"
print(my_list)

4
[1, 'Change', 36.3, 'G', True]

### Example 2.1.2 (Changing Elements of Lists with Slices):

In [114]:
my_list[2:4]
# change element by slice with step 1 
my_list = [1, 4, 36.3, "G", True]
my_list[2:4]  = ["Change1", "Change2"] # my_list[2:4] grab element 2, 3 [2,4)
print(my_list)

[1, 4, 'Change1', 'Change2', True]

In [115]:
# change element by slice with step 2
my_list = [1, 4, 36.3, "G", True]
my_list[0:5:2] = ["Change1", "Change2", "Change3"]
print(my_list)

['Change1', 4, 'Change2', 'G', 'Change3']

In [117]:
### note from garrett: don't see this used all that often ###

### Example 2.2 (Adding Elements to Lists):

- Elements can be added to lists at the beginning, in the middle and at the end
- To add elements to lists in any of these places, it is possible to use both the built-in functions from Python and manual operations

### Example 2.2.1 (Adding Elements to the End of Lists):

There are 2 main methods of adding elements to the end of lists each having their own equivalent manual method:

### Method 1: `append`

In [118]:
my_list = [1, 4, 36.3, "G", True]

In [119]:
# find the length of my_list
len(my_list)

5

In [120]:
# add element with Python built-in method append
my_list.append("New") # append "New" to the end of the list (in-place)
print(my_list)

[1, 4, 36.3, 'G', True, 'New']

In [121]:
len(my_list)

6

You can see `dot notation` here which means that we are going "inside" the variable `my_list` and accessing a method that it has in its "repertoire." Don't worry too much about this for now as we will go explore methods/functions more in depth in Lecture 3.

### manual `append` method using slicing `[:]`

In [122]:
# manual equivalent of append in Python 
###  ******* don't need to know how to do this. it's just an under the hood example thing *********###
my_list = [1, 4, 36.3, "G", True]
my_list[len(my_list):len(my_list)] = ["New"]
print(my_list)

[1, 4, 36.3, 'G', True, 'New']

This manual operation works because we are telling Python to insert a new sequence of items at the 5th position (which is at the end of the list since the list has length 5)

### Method 2: `extend`

In [126]:
my_list = [1, 4, 36.3, "G", True]

In [129]:
# add element with Python built-in method extend 
my_list.extend(["New"]) # extend the list by adding "New" (in-place)
### actually, we are adding the list that contains "new"
print(my_list)

[1, 4, 36.3, 'G', True, 'N', 'e', 'w', 'New']

Notice how the `extend` method requires the `"New"` character to be a list in order for the character to be added as an item and not as a sequence. Try removing the square brackets from the `"New"` character and observe the output. Now the result will add as a sequence and NOT as an item. This is different than the `append` method above where we added the `"New"` character as a `str` and the result added it as an item.

### manual `extend` method using slicing `[:]`

In [130]:
# (1) manual equivalent of extend in Python 
my_list = [1, 4, 36.3, "G", True]
my_list[len(my_list):len(my_list)] = ["New"]
print(my_list)

[1, 4, 36.3, 'G', True, 'New']

This manual operation works because we are telling Python to insert a new sequence of items at the 5th position (which is at the end of the list since the list has length 5)

### manual `extend` method using concatenation (`+`) and compound assignments

In [131]:
# (2) manual equivalent of append in Python 
my_list = [1, 4, 36.3, "G", True]
new_list = ["New"]
my_list += new_list # my_list = my_list + new_list
print(my_list)

[1, 4, 36.3, 'G', True, 'New']

### Difference between  `extend` and `append`

In [132]:
my_list = [1,2,3]
my_list_1 = [4,5,6]
my_list.append(my_list_1)
print(my_list)
print(len(my_list))

[1, 2, 3, [4, 5, 6]]
4

In [133]:
my_list[3]

[4, 5, 6]

In [134]:
my_list = [1,2,3]
my_list.extend(my_list_1)
print(my_list)
print(len(my_list))

[1, 2, 3, 4, 5, 6]
6

In [135]:
### important to keep track of data types to understand this ###

We can see that the `append` method adds the new element as a nested list, whereas the `extend` method adds the new element as individual elements (i.e. as a sequence). Think about what use case may be suitable for each method.

### Example 2.2.2 (Adding Elements to the Middle of Lists):

### Method 1: `insert`

In [137]:
# add element in the middle of the list with Python built-in method insert
my_list = [1, 4, 36.3, "G", True]
my_list.insert(2, "New") # add "New" in the 2nd position (in-place)
print(my_list)
### the added things ends up at index 2. ###

[1, 4, 'New', 36.3, 'G', True]

### manual `insert` method using slicing `[:]`

In [138]:
# manual equivalent of insert in Python 
my_list = [1, 4, 36.3, "G", True]
my_list[2:2] = ["New"] # add "New" in the 2nd position 
print(my_list)
### why doesn't this replace 36.3 with "new" ? ###

[1, 4, 'New', 36.3, 'G', True]

This manual operation works because we are telling Python to insert a new sequence of items at the 2nd position (same as above)

### Example 2.2.3 (Adding Elements to the Beginning of Lists):

### Method 1: `insert`

In [139]:
# add element to the front of the list with Python built-in method insert
my_list = [1, 4, 36.3, "G", True]
my_list.insert(0, "New") # add "New" in the 0th position (in-place)
print(my_list)

['New', 1, 4, 36.3, 'G', True]

### manual `insert` method using slicing `[:]`

In [140]:
# manual equivalent of insert in Python 
my_list = [1, 4, 36.3, "G", True]
my_list[:0] = ["New"] # add "New" in the 0th position 
print(my_list)

['New', 1, 4, 36.3, 'G', True]

This manual operation works because we are telling Python to insert a new sequence of items at the 0th position (same as above)

### Example 2.2.4 (Differences between Insert Method and Slicing Method):

Be weary of the difference that is present when adding elements to a list using the `insert` method and the slice `[i:i]` method. The former method adds elements as an item and the later method adds elements as a sequence. See below for an illustration of this difference.

In [141]:
my_list = [1, 4, 36.3, "G", True]
add_list = ["New1", "New2", "New3"]

In [142]:
# add using the insert method
my_list.insert(2, add_list) # adds as item (in-place)
print(my_list)
print(len(my_list))

[1, 4, ['New1', 'New2', 'New3'], 36.3, 'G', True]
6

In [143]:
my_list = [1, 4, 36.3, "G", True]
add_list = ["New1", "New2", "New3"]

In [144]:
# add using the slice method
my_list[2:2] = add_list # adds as sequence (in-place)
print(my_list)
print(len(my_list))

[1, 4, 'New1', 'New2', 'New3', 36.3, 'G', True]
8

In [145]:
###  check this out later ** (optional - doesn't really come up usually) ### how does it work ? maybe read documentation

### Example 2.3 (Removing Elements from Lists):

- Elements can be removed from lists many different ways using both Python built-in methods and manual methods using slicing. See below for examples

### Example 2.3.1 (Removing SOME Elements from Lists):

### Method 1: `del`

In [146]:
my_list = [1, 4, 36.3, "G", True]

In [147]:
# remove element with Python built-in method del (with step 1)
del my_list[1:3] # delete elements from positions 1,2      ### note (not?) inclusive of 3 ###
print(my_list)

[1, 'G', True]

In [148]:
my_list = [1, 4, 36.3, "G", True]
# remove element with Python built-in method del (with step 2)
del my_list[::2]
print(my_list)

[4, 'G']

In [149]:
### Garrett:  it is weird that del is not a function - like print used to be ###

### manual `del` method using slicing `[:]`

In [151]:
# manual equivalent of del in Python 
my_list = [1, 4, 36.3, "G", True]
my_list[1:3] = [] #  delete elements from positions 1,2 with step 1   ### by replacing with empty list ###
print(my_list)

[1, 'G', True]

### Method 2: `remove`

In [153]:
# remove element with Python built-in method remove 
my_list = [1, 4, 36.3, "G", True]
my_list.remove("G") # delete the "G" element (in-place)   ### again, in-place means it alters the original .... list ...
###                                                       ... whatever  ###
print(my_list)

[1, 4, 36.3, True]

Note that the `remove` method removes ONLY the FIRST item from the list that matches the input.

### manual `remove` method using slicing [:] and `del`

In [154]:
# manual equivalent to remove in Python 
my_list = [1, 4, 36.3, "G", True]
print(my_list[0] == "G")
print(my_list[1] == "G")
print(my_list[2] == "G")
print(my_list[3] == "G")

False
False
False
True

In [155]:
my_list[3:4] = []
print(my_list)

[1, 4, 36.3, True]

In [158]:
my_list = [1, 4, 36.3, "G", True]
del my_list[3:4]
print(my_list)

[1, 4, 36.3, True]

The `remove` method iterates through each element of the list until `my_list[i] == "G"` returns `True` (see above print statements). Then it will go ahead and remove the element from the list.

### Method 3: `pop`

In [159]:
# remove element with Python built-in method pop
my_list = [1, 4, 36.3, "G", True]
my_list.pop(3) # retrieves the item at element 3 and also removes it (in-place)
print(my_list)

[1, 4, 36.3, True]

### manual `pop` method using slicing [:] and `del`

Similar to the manual equivalents to the `remove` method above.

### Example 2.3.2 (Removing ALL Elements from Lists):

In [160]:
### maybe look at these later ###

### Method 1: `clear`

In [161]:
my_list = [1, 4, 36.3, "G", True]

In [162]:
# remove all elements with Python built-in method clear
my_list = [1, 4, 36.3, "G", True]
my_list.clear() # clears all items in the list (in-place)
print(my_list)

[]

### Method 2: `del`

In [163]:
# remove all elements with Python built-in method del
my_list = [1, 4, 36.3, "G", True]
del my_list[:]
print(my_list)

[]

### manual `clear` and `del` method using slicing slicing `[:]`

In [164]:
# manual equivalent to clear and del in Python 
my_list = [1, 4, 36.3, "G", True]
my_list[:] = []
print(my_list)

[]

### Problem 3:

Create 2 lists: the first list with your first name and the second list with your last name. Combine the two lists to make a list that contains your entire name. Repeat your name as many times as letters in your full name. 

Try adding your last name to your first name using both list concatenation and built-in functions.

In [3]:
# write your code here 
first_name = ['e', 'r', 'i', 'k']
last_name = ['a', 'n', 'd', 'e', 'r', 's', 'o', 'n']
name = first_name + last_name
print(name)
# how to use built in function?
### was the above my comment? ###
new_name = first_name
new_name.extend(last_name[::])
print(new_name)
print(new_name * len(last_name))

['e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n']
['e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n']
['e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n', 'e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n', 'e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n', 'e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n', 'e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n', 'e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n', 'e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n', 'e', 'r', 'i', 'k', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n']

### Problem 4:

Create 2 lists: the first list with your first name and the second list with your last name. Combine the two lists to make a list that contains your entire name. Add your middle name to this combined list between your first and last name. If you don't have a middle name add `["m", "i", "d", "d", "l", "e"]`.

In [14]:
# write your code here 
first_name = ['e', 'r', 'i', 'k']
last_name = ['a', 'n', 'd', 'e', 'r', 's', 'o', 'n']
name = first_name + last_name
### # name = name.insert(3, 'asdf')  
### oops. tried to asign the result to the variable name, but this is an inplace thing ###
middle_name = ['k', 'r', 'i', 's', 't', 'o', 'f', 'e', 'r']
### oops, againd tried to set it equal to out put when this is an in-place situation 
### middle_name = middle_name.reverse()
middle_name.reverse()
for character in middle_name:
    name.insert(4, character)
print(name)
# not sure what's wrong here... 
###  I don't know how to do this, except by adding every letter individually, [ did fup]

['e', 'r', 'i', 'k', 'k', 'r', 'i', 's', 't', 'o', 'f', 'e', 'r', 'a', 'n', 'd', 'e', 'r', 's', 'o', 'n']

### Example 2.4 (Other Operations on Lists):

### Example 2.4.1 (Copying Lists):

__Overview:__
- To understand how lists are copied and what happens when a list is copied, we first have to explore the differences between a __view__, __shallow copy__, and __deep copy__
- More information on __[Object Copying](https://en.wikipedia.org/wiki/Object_copying)__ 

__Helpful Points:__
1. The best way to understand the differences is to simply see the 3 types in action 
2. The `=` operator always creates a view 
3. The `copy()` function always creates a shallow copy
4. To create a deep copy, we have to use some external tools 
5. Note that different programming languages have different standards - for example, in R, every time you assign a variable, it is a deep copy 

__Practice:__ Examples of the three variants in Python

### Example 2.4.1.1 (View):

Any time you assign a variable to another variable using the `=` sign (__[Name Binding](https://en.wikipedia.org/wiki/Name_binding)__), we are not creating a separate object. Instead, the new variable is just an alias or reference to the original object.

In [162]:
my_list = ["a", "b", "c"]
my_list_1 = my_list # created as a reference/alias to my_list
my_list[0] = "New" # changes both my_list and anything that references it 
print(my_list)
print(my_list_1)

['New', 'b', 'c']
['New', 'b', 'c']

In [163]:
print(id(my_list))
print(id(my_list_1))

1492330485576
1492330485576

In [164]:
my_list is my_list_1

True

Therefore, we can see that when the variable `my_list_1` was created, it was not created as a separate, stand-alone object. Instead, it is simply an alias or reference to the `my_list` variable and you can see that the two variables share the same unique integer identity. The consequence is that if `my_list` changes, `my_list_1` ALSO changes since it references `my_list` (whatever happens to `my_list` ALSO happens to `my_list_1`).

### Example 2.4.1.2 (Shallow Copy - Layer 1):

If you don't want the behavior above where the new variable simply references the original variable and both are subject to each other's changes, then use a shallow copy to protect against this. 

Layer 1 refers to non-nested lists (or in general, __non-compound objects__ - objects that do contain other objects)

### Method 1: Shallow Copy using `copy()` function (layer 1)

In [165]:
my_list = ["a", "b", "c"]
my_list_1 = my_list.copy() # shallow copy (method 1)
my_list[0] = "New" # only changes my_list and NOT my_list_1
print(my_list)
print(my_list_1)

['New', 'b', 'c']
['a', 'b', 'c']

In [166]:
print(id(my_list))
print(id(my_list_1))

1492322555912
1492331284936

Each variable now has a different identity (each reference a unique object)

### Method 2: Shallow Copy using slicing `[:]` (layer 1)

In [167]:
my_list = ["a", "b", "c"]
my_list_1 = my_list[:] # shallow copy (method 2)
my_list[0] = "New" # only changes my_list and NOT my_list_1
print(my_list)
print(my_list_1)

['New', 'b', 'c']
['a', 'b', 'c']

In [168]:
print(id(my_list))
print(id(my_list_1))

1492316536392
1492332004936

Therefore, we can see that in both cases when the variable `my_list_1` was created, it was created as a separate, stand-alone object. It no longer references the `my_list` variable. The consequence is that if `my_list` changes, `my_list_1` DOES NOT changes since it DOES NOT reference `my_list` (whatever happens to `my_list` DOES NOT happen to `my_list_1`).

### Example 2.4.1.3 (Shallow Copy - Layer 2):

Layer 2 refers to nested lists (or in general, __compound objects__ - objects that contain other objects)

### Method 1: Shallow Copy using `copy()` function (layer 2)

In [15]:
my_list = ["a", "b", "c"]
nested_list = [my_list, 1, 2, 3]
print(nested_list)

[['a', 'b', 'c'], 1, 2, 3]

In [16]:
nested_list_1 = nested_list.copy() # shallow copy (method 1)
nested_list[0][0] = "New" # changes both nested_list AND nested_list_1 
print(nested_list)
print(nested_list_1)

[['New', 'b', 'c'], 1, 2, 3]
[['New', 'b', 'c'], 1, 2, 3]

In [17]:
### #fup study this later to figure out what is and isn't being copied. ###

### Method 2: Shallow Copy using slicing `[:]` (layer 2)

In [171]:
my_list = ["a", "b", "c"]
nested_list = [my_list, 1, 2, 3]
print(nested_list)

[['a', 'b', 'c'], 1, 2, 3]

In [172]:
nested_list_1 = nested_list[:] # shallow copy (method 2)
nested_list[0][0] = "New" # changes both nested_list AND nested_list_1 
print(nested_list)
print(nested_list_1)

[['New', 'b', 'c'], 1, 2, 3]
[['New', 'b', 'c'], 1, 2, 3]

Therefore, we can see that in both cases when the variable `nested_list_1` was created, it was not created as a separate, stand-alone object. Instead, it is simply an alias or reference to the `nested_list` variable. The consequence is that if `nested_list` changes, `nested_list_1` ALSO changes since it references `nested_list` (whatever happens to `nested_list` ALSO happens to `nested_list_1`).

### Example 2.4.1.4 (Deep Copy - All Layers)

If you don't want the behavior above where the new variable in nested lists simply references the original variable and both are subject to each other's changes, then use a deep copy to protect against this. 

To perform Deep Copies in Python, we have to consult an 'external resource' known as a __module__. We will cover modules in depth in Lecture 3, so don't worry about it for now. In this case, the module name is called `copy` and you can read more about it [here](https://docs.python.org/3/library/copy.html)

In [175]:
# get all the resources from this external resource
import copy

In [176]:
my_list = ["a", "b", "c"]
nested_list = [my_list, 1, 2, 3]
print(nested_list)

[['a', 'b', 'c'], 1, 2, 3]

In [177]:
nested_list_1 = copy.deepcopy(nested_list) # deep copy 
nested_list[0][0] = "New" # only changes nested_list and NOT nested_list_1
print(nested_list)
print(nested_list_1)

[['New', 'b', 'c'], 1, 2, 3]
[['a', 'b', 'c'], 1, 2, 3]

### Example 2.4.2 (Reversing Lists):

We have already seen some manual ways of reversing lists using slicing. However, Python also offers a convenient `reverse()` function for mutable sequence types. See example below:

In [178]:
my_list = [100, 101, 102]

In [179]:
my_list.reverse() # reverses the list (in-place)
print(my_list)

[102, 101, 100]

In [180]:
my_list = [100, 101, 102]
my_list[::-1] # manual implementation (not in-place)

[102, 101, 100]

In [181]:
print(my_list)

[100, 101, 102]

### 2.2.7 Overview of Sequence Type 2 - Strings

__Overview:__
- __[Strings](https://docs.python.org/3/library/stdtypes.html#index-26)__ were first introduced in Lecture 1 as a way of storing textual data in Python 
- Unlike lists, strings are __immutable__ (their contents can not be modified in any way) 

__Helpful Points:__
1. Recall that strings can have single, double, or triple quotes 
2. Recall that strings and other numeric types can participate in __type conversion__ (`int` to `str`, `float` to `str`, etc.)
3. Similar to lists, a nested string is possible and would consist of one type of quotes within another types of quotes

### 2.2.8 Creating Strings 

Refer to section 1.9 to see how strings are created

### 2.2.9 Accessing Elements within Strings

__Overview:__
- Each item within a string are referred to as __elements__ and they can easily be accessed (for example, if you want to extract the second element of a string)
- Similar to lists, each element is assigned a number beginning with 0 
- Both methods of indexing (single-indexing and multi-indexing by slicing) as outlined in section 2.2.5 are also applicable for strings 

__Helpful Points:__ 
1. Similar to lists, strings can only be indexed by `int` and not any other type (i.e. `bool`)
2. The peculiar but helpful features of indexing-out-of-range are also present with strings 

__Practice:__ Examples of accessing elements within strings

### Example 1 (Index Method 1 with Positive Index):

In [183]:
my_string = "Gordon"
# my_string_fwd_index = [0,1,2,3,4,5]

In [184]:
my_string[0] # simply accessing an element via its index

'G'

In [185]:
my_string[0] = "J" # str data types are immutable  (chang9ng an element via its in index)

TypeError: 'str' object does not support item assignment

In [186]:
# oth element from the left (with and without saving string as a variable)
print(my_string[0])
print("Gordon"[0])
type("Gordon"[0])

G
G

str

### Example 2 (Index Method 2 with Positive Slice and Forward Direction):

In [187]:
my_string_1 = "Roberto"

In [188]:
# slice from 1st element to 4th element (5th element minus one) by step 1 
print(my_string_1[1:5])
type(my_string_1[1:5])

ober

str

In [189]:
# slice from 1st element to 4th element (5th element minus one) by step 2 
print(my_string_1[1:5:2])

oe

### Example 3 (Index Method 2 with Positive Slice, Forward Direction and Ommitted Argument(s) ):

In [190]:
my_string_1 = "Roberto"

In [191]:
# ommitting stop and step arguments
# return 1st element to last element 
print(my_string_1[1:])

oberto

In [192]:
# ommitting start and step arguments
# return 0th element to 2nd element (3rd element minus one)
print(my_string_1[:3])

Rob

Note: not all types of examples are shown here with strings since the process is identical to that of accessing elements within lists. If you want to refresh your memory, see section 2.2.5 and follow examples 1 - 6, but swap the list for a string.

### Example 4 (Indexing Out-of-Range - No Error):

In [193]:
# will not yield an error
my_string_1[:10]

'Roberto'

In [194]:
# will not yield an error
my_string_1[10:]

''

### 2.2.10 More String Operations

__Overview:__
- Recall in section 2.2.2 the types of operations available for Sequence Types 
- Since the `str` type is immutable, we can only perform the Common Sequence Operations and NOT the Mutable Sequence Type Operations (like we did for lists)

__Helpful Points:__
1. Below, Part 1 will cover the Common Sequence Type Operations (membership test operations, list concatenation and repetition, and misc. actions)
2. Below, Part 2 will cover some helpful built-in Python functions for common string operations 
3. Below, Part 3 will cover some helpful built-in Python functions for common string formatting 

__Practice:__ Examples of String Operations in Python

In [18]:
### #fup maybe review the common sequence operations and the mutable sequence operations

### Part 1: Common Sequence Type Operations

### Example 1.1 (Membership Test Operations - `in` for strings):

See section 1.10.3 in Lecture 1

### Example 1.2 (Concatenation of Strings):

In [195]:
string_1 = "Garrett"
string_2 = " is a co-instructor"
string_3 = string_1 + string_2 # not vectorized addition 
print(string_3)

Garrett is a co-instructor

In [196]:
string_1 += string_2 # string_1 = string_1 + string_2
print(string_1)

Garrett is a co-instructor

### Example 1.3 (Repetition of Strings):

In [197]:
string_1 = "Gordon"
print(string_1 * 2)

GordonGordon

### Example 1.4 (Misc. Actions on Strings):

- Within the Common Sequence Types, there exist a set of useful functions that can be used as operations on lists (len, min, max, index, count, and sort))

### Example 1.4.1 (Simple Actions - `len`, `min`, `max`, `index`, `count`):

In [198]:
my_string = "supercalifragilisticexpialidocious"

In [199]:
# find the length of the string (number of elements in the string)
len(my_string)

34

In [200]:
# find the minimum value of the string (first in the alphabet)
min(my_string)

'a'

In [201]:
# find the maximum value of the string (last in the alphabet)
max(my_string)

'x'

In [202]:
# find the index of the first occurrence of a in my_string
my_string.index("a")

6

In [203]:
# find the total number of occurrences of a in my_string
my_string.count("a")

3

### Example 1.4.2 (Advanced Actions - `sort`):

Since strings are immutable, sorting strings in Python can only be done 1 way - with the generic `sorted()` function which simply returns a copy of the object and does not attempty to modify the original string.

In [204]:
my_string = "supercalifragilisticexpialidocious"

In [205]:
# sort the string in alphabetical order
print(sorted(my_string))
print(my_string) # prints original, unchanged variable (not in-place algorithm)

['a', 'a', 'a', 'c', 'c', 'c', 'd', 'e', 'e', 'f', 'g', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'l', 'l', 'l', 'o', 'o', 'p', 'p', 'r', 'r', 's', 's', 's', 't', 'u', 'u', 'x']
supercalifragilisticexpialidocious

We can see that the `sorted()` function simply returned a copy of the original string, but when we print the original string, it has not changed. This is an example of not in-place.

### Part 2: Built-In Functions for Common String Operations

Python provides an expansive list of built-in __[string methods](https://docs.python.org/3/library/stdtypes.html#string-methods)__ that are very helpful for operating on strings. You can review the entire list, but we will cover the most common methods below.

### Example 2.1 (Common String Method 1 )

In [20]:
my_string = """
O Romeo, Romeo! wherefore art thou Romeo? Deny thy father and refuse thy name;
Or, if thou wilt not, be but sworn my love, And I'll no longer be a Capulet. 
"""

In [211]:
print(my_string.lower()) # returns the lowercase version of the string (not in-place)
print(my_string)

o romeo, romeo! wherefore art thou romeo? deny thy father and refuse thy name;
or, if thou wilt not, be but sworn my love, and i'll no longer be a capulet.


O Romeo, Romeo! wherefore art thou Romeo? Deny thy father and refuse thy name;
Or, if thou wilt not, be but sworn my love, And I'll no longer be a Capulet.

In [212]:
my_string = """
O Romeo, Romeo! wherefore art thou Romeo? Deny thy father and refuse thy name;
Or, if thou wilt not, be but sworn my love, And I'll no longer be a Capulet. 
"""

In [213]:
print(my_string.upper()) # returns the uppercase version of the string (not in-place)
print(my_string)

O ROMEO, ROMEO! WHEREFORE ART THOU ROMEO? DENY THY FATHER AND REFUSE THY NAME;
OR, IF THOU WILT NOT, BE BUT SWORN MY LOVE, AND I'LL NO LONGER BE A CAPULET.


O Romeo, Romeo! wherefore art thou Romeo? Deny thy father and refuse thy name;
Or, if thou wilt not, be but sworn my love, And I'll no longer be a Capulet.

### Example 2.2 (Common String Method 2 )

In [214]:
my_string = """
O Romeo, Romeo! wherefore art thou Romeo? Deny thy father and refuse thy name;
Or, if thou wilt not, be but sworn my love, And I'll no longer be a Capulet. 
"""

In [215]:
print(my_string.isalpha()) # tests if all the string characters are in the alphabetic class

False

### Example 2.3 (Common String Method 3)

In [216]:
print(my_string.find("Romeo")) # searches for the string "Romeo" within my_string and returns the first index where it begins

3

In [1]:
### note: it counts the return as a character in the string. That's why R is index 3, not 2.

In [217]:
my_string[3]

'R'

### Example 2.4 (Common String Method 4)

In [218]:
print(my_string.replace("Romeo", "Gordon")) # replaces all occurrences of "Romeo" with "Gordon" (NOT in-place)
print(my_string)

O Gordon, Gordon! wherefore art thou Gordon? Deny thy father and refuse thy name;
Or, if thou wilt not, be but sworn my love, And I'll no longer be a Capulet.


O Romeo, Romeo! wherefore art thou Romeo? Deny thy father and refuse thy name;
Or, if thou wilt not, be but sworn my love, And I'll no longer be a Capulet.

### Example 2.5 (Common String Method 5)

In [219]:
print(my_string.split()) # returns a list of substrings separated by the default delimiter (whitespace)

['O', 'Romeo,', 'Romeo!', 'wherefore', 'art', 'thou', 'Romeo?', 'Deny', 'thy', 'father', 'and', 'refuse', 'thy', 'name;', 'Or,', 'if', 'thou', 'wilt', 'not,', 'be', 'but', 'sworn', 'my', 'love,', 'And', "I'll", 'no', 'longer', 'be', 'a', 'Capulet.']

In [220]:
print(my_string.split(";")) # returns a list of substrings separated by semi-colon

['\nO Romeo, Romeo! wherefore art thou Romeo? Deny thy father and refuse thy name', "\nOr, if thou wilt not, be but sworn my love, And I'll no longer be a Capulet. \n"]

In [ ]:
### #fup why does it print the \n here but not in other cases? ###

### Example 2.6 (Common String Method 6)

In [24]:
split_string = my_string.split()
print(split_string)
print("".join(split_string)) # joins the split_string (list) to a string (empty string) without spaces

['O', 'Romeo,', 'Romeo!', 'wherefore', 'art', 'thou', 'Romeo?', 'Deny', 'thy', 'father', 'and', 'refuse', 'thy', 'name;', 'Or,', 'if', 'thou', 'wilt', 'not,', 'be', 'but', 'sworn', 'my', 'love,', 'And', "I'll", 'no', 'longer', 'be', 'a', 'Capulet.']
ORomeo,Romeo!whereforeartthouRomeo?Denythyfatherandrefusethyname;Or,ifthouwiltnot,bebutswornmylove,AndI'llnolongerbeaCapulet.

In [2]:
###  ** Garett: join function is another one that is weird. Why isn't it a list method? ** ###

### Part 3: Built-In Functions for Common String Formatting

__Overview:__
- Python provides many useful ways of formatting strings for "fancier ouput"
- There are 2 main methods of which these belong to:
> 1. Using the `str.format()` function. The official documentation of this function can be found [here](https://docs.python.org/3/library/stdtypes.html#str.format) and [here](https://docs.python.org/3/library/string.html#formatstrings). Although the most helpful information on how it can be implemented can be found [here](https://docs.python.org/3/tutorial/inputoutput.html#fancier-output-formatting)
> 2. (New in Python 3.6) Using __[Formatted String Literals](https://docs.python.org/3/reference/lexical_analysis.html#f-strings)__ otherwise known as __f-strings__

__Helpful Points:__
1. Within each method above, there are multiple ways of executing the functions 
2. Each of these ways will be explained below in the examples
3. See [this](https://pyformat.info/) post for a comprehensive look at the various types of string formatting using the `str.format` function

__Practice:__ Examples of string formatting in Python

### Example 3.1 (Using `str.format()` function):

### Example 3.1.2 (Empty {} in `str.format()` function):

In [223]:
co_designer_1 = "gordon"
co_designer_2 = "gordon"

In [224]:
print("We, {} and {} are happy to be your co-designers".format(co_designer_1, co_designer_2))

We, gordon and gordon are happy to be your co-designers

The "curly" brackets and characters within them (called format fields) are replaced with the objects passed into the `format()` method.

### Example 3.1.3 (Positional Arguments in {} in `str.format()` function):

In [7]:
print("{0} and {1}".format("Gordon", "Roberto"))
print("{1} and {0}".format("Gordon", "Roberto"))

Gordon and Roberto
Roberto and Gordon

A number in the brackets can be used to refer to the position of the object passed into the `format()` method.

### Example 3.1.4 (Keyword Arguments in {} in str.format() function):

In [8]:
print("{designer_name_1} and {designer_name_2} both created this course".format(designer_name_1="Gordon", designer_name_2="Roberto"))

Gordon and Roberto both created this course

If keyword arguments are used in the `str.format()` method, their values are referred to by using the name of the argument. Note, we can also combine both keyword and positional arguments.

### Example 3.1.5 (Specifiers in {} in `str.format()` function):

In [9]:
print("The value of PI is approximately {0:0.3f} to 3 decimal places".format(3.14159265359))

The value of PI is approximately 3.142 to 3 decimal places

An optional `:` and format specifier (0.3f - 3 decimal places for a float) can follow the field name. Note, the other format specifiers include `i` (int), and `s` (string).

In [11]:
print("The value of PI is {:.5}".format("3.14159265359"))
### note that "3.14156275359" is a string - I think the .5 is something to do with going 5 steps in (exclusive) ? ###

The value of PI is 3.141

Note, we can also use this format to truncate long strings. The above example simply truncates the string that is passed into the format parantheses. It does not know anything about the integer values and thus does not do any rounding - it is treated as a series of characters.

### Example 3.2 (Using Formatted String Literals):

In [12]:
print(f"The value of PI is approximately {3.14159265359:0.3f} to 3 decimal places")

The value of PI is approximately 3.142 to 3 decimal places

See the table [here](https://docs.python.org/3/library/stdtypes.html#old-string-formatting) which will help you understand what values are appropriate to enter the `{}`

### Problem 5

Repeat the first part of problem 3 (combining first and last name), but using strings.

Notes:
- Create the 2 strings in lower case and then use a built-in string method to capitalize the words (see [this link](https://docs.python.org/3/library/stdtypes.html#string-methods) to find the proper function to use)
- Use string formatting to output your results

In [ ]:
### #fup left off here in studying the lecture notes 2019-07-27 ###

In [1]:
first = 'erik'
last = 'andreson'
first = first.capitalize()
last = last.capitalize()
full = first + ' ' + last

print(full)

Erik Andreson

### Problem 6

Replace `"Brussels Sprouts"` with your favorite food in the string `"My favorite food is Brussels Sprouts"`.

Notes:
- Use the `replace` commond string method

In [7]:
# write your code here
string = "My favorite food is Brussels Sprouts"
string = string.replace('Brussels Sprouts', 'Pizza')
print(string)

My favorite food is Pizza

In [ ]:
### #fup left off study here on 2019-07-28
### further note: Class lecture 2 ended here

### further note: Class lecture day 3 started here

### 2.2.11 Overview of Sequence Type 3 - Tuples

__Overview:__
- __[Tuples](https://docs.python.org/3/library/stdtypes.html#tuple):__ Tuples are immutable sequences typically used to store collections of hetereogeneous (dissimilar) data (compare with lists which are mutable and typically used to store collections of homogeneous data) 

__Helpful Points:__
1. Tuples are defined by elements separated by commas and enclosed with parantheses (although parantheses are optional)
2. Tuples are necessary when an immutable sequence of homogenous data is needed (i.e. in dictionaries and sets - see below for explanations of these data types)
3. Tuples appear almost everywhere in Python (i.e. in function arguments - see Lecture 3 for more detail on functions and their arguments)
4. Tuples provide a safeguard against accidental tampering of data

### 2.2.12 Creating Tuples

__Overview:__
- There are multiple ways of creating tuples in Python:
> 1. Method 1: Using a pair of parantheses to denote an empty tuple 
> 2. Method 2: Using parantheses, separating items with commas (or just separating items with commas - this is actually an example of __Packing__ which is a very useful characteristic of tuples and will be explained below)
> 3. Method 3: Using the __Type Constructor__

__Helpful Points:__
1. Similar to lists, it is also possible to create a tuple within a tuple also known as __Nested Tuple__ 
2. Each type of tuple creation will be explored below

__Practice:__ Examples of creating tuples in Python

### Example 1 (Create Tuple with Method 1)

In [1]:
# create empty tuple 
empty_tuple = ()
print(empty_tuple)

()

In [2]:
type(empty_tuple)

tuple

### Example 2 (Create Tuple with Method 2)

In [3]:
# create tuple with parantheses 
singleton_tuple = (10,) # [10] -> list with 1 element 
print(singleton_tuple)

(10,)

In [4]:
# create tuple without parantheses 
singleton_tuple_1 = 10, 
print(singleton_tuple_1)

(10,)

In [5]:
# create tuple with parantheses 
new_tuple = (True, 1.0, "Gordon")
print(new_tuple)

(True, 1.0, 'Gordon')

In [6]:
# create tuple without parantheses (this is actually packing - explained below)
new_tuple_1 = True, 1.0, "Gordon"
print(new_tuple_1)

(True, 1.0, 'Gordon')

Note we can create the same tuple by removing the parantheses since these are optional. However, if there is only one item in the tuple (singleton), then we need the comma, otherwise the interpreter will interpret this as a number.

### Example 3 (Create Tuple with Method 3)

In [7]:
# create empty tuple 
empty_tuple_1 = tuple()
print(empty_tuple_1)

()

### 2.2.13 Accessing Elements within Tuples

__Overview:__
- Each item within a tuple are referred to as __elements__ and they can easily be accessed (for example, if you want to extract the second element of a tuple
- Similar to lists and strings, each element is assigned a number beginning with 0 
- Both methods of indexing (single-indexing and multi-indexing by slicing) as outlined in section 2.2.5 are also applicable for tuples

__Helpful Points:__
1. Similar to lists and strings, tuples can only be indexed by `int` and not any other type (i.e. `bool`)
2. The peculiar but helpful features of indexing-out-of-range are also present with tuples 

__Practice:__ Examples of accessing elements within tuples

### Example 1 (Index Method 1):

In [8]:
my_tuple = "Gordon", 1.0, True
# my_tuple_fwd_index = (0, 1, 2)

In [9]:
# oth element from the left (with and without saving tuple as a variable)
print(my_tuple[0])
print(("Gordon", 1.0, True)[0])
type(("Gordon", 1.0, True)[0])

Gordon
Gordon

str

### Example 2 (Index Method 2):

In [10]:
# slice from 0th element to 2nd element (3rd element minus one) by step 1 
print(my_tuple[0:3])
type(my_tuple[0:3])

('Gordon', 1.0, True)

tuple

Note: not all types of examples are shown here with tuples since the process is identical to that of accessing elements within lists. If you want to refresh your memory, see section 2.2.5 and follow examples 1 - 6, but swap the list for a tuple.

In [ ]:
### it's saying they're not showing every example here because it's like the examples we saw before

### somewhere below, mutable should be immutable (tuples are immutable)

### 2.2.14 More Tuple Operations

__Overview:__
- Recall in section 2.2.2 the types of operations available for Sequence Types 
- Since the `tuple` type is immutable, we can only perform the Common Sequence Operations and NOT the Mutable Sequence Type Operations (like we did for lists)

Note_1: Tuple operations using the Common Sequence Operations are not shown here since the process is identical to that of operating with lists. If you want to refresh your memory, see section 2.2.6 Part 1 (examples 1.1 - 1.5), but swap the list for a tuple. 

Note_2: The only operation different for Tuples than Lists is the sorting capabilities. Recall that lists can be sorted using the `list.sort()` function (performed __in-place__ by modifying the original object) AND using the `sorted()` function (not performed in-place and creates a copy of the object). Since Tuples are immutable, they are subject ONLY to the `sorted()` function.

### 2.2.15 Packing and Unpacking with Tuples

__Overview:__
- One of the most important differences between tuple and lists (other than mutability) is the ability of tuples to participate in __packing__ and __unpacking__ which is very useful and "Pythonic" 
> 1. __Packing:__ Packing is a simple syntax which allows you to create a tuple without parantheses and elements just separated by commas (recall we did this in method 2 of creating tuples above)
> 2. __Unpacking:__ Unpacking allows you to split apart the values within a tuple into separate variables 

__Helpful Points:__
1. Packing and Unpacking feature makes operations concise and efficient in Python 
2. You can use the `*` (asterix) notiation in tuples for arbitrary arguments (see examples below)
3. You can use the `_` (underscore) notation in tuples as placeholders 
4. Recall simultaneous assignments in lecture 1 - section 1.6 - example 2.2. This was actually a case of packing and unpacking at work!

__Practice:__ Examples of Packing and Unpacking with Tuples in Python

In [ ]:
### huh?

### Example 1 (Packing):

In [11]:
a = "G", "o", "r" # all 3 items are "packed" into the one variable a 
print(a)

('G', 'o', 'r')

When packing, the output is a tuple.

### Example 2 (Unpacking):

In [12]:
first, second, third = a # the 3 items in the one variable a are "unpacked" and each assigned their own variable 
print(first)
print(second)
print(third)

G
o
r

In [13]:
# compare the above with a longer and uglier way
first = a[0]
second = a[1]
third = a[2]
print(first)
print(second)
print(third)

G
o
r

### Example 3 (Packing and Unpacking - 1 step):

In [ ]:
first, second, third = "G", "o", "r" # packing and unpacking in 1 step without the variable a

The following sequence is happening here: First, the values "G", "o", "r" are packed into a tuple ("G", "o", "r"). These values are then assigned to the left hand side of the `=` sign. Lastly, the tuple is unpacked into the three variables `first`, `second`, and `third`.

### Example 4 (Trading Values using Packing and Unpacking):

In [14]:
# we saw how to trade values in lecture 1 - this was actually packing and unpacking 
gordon_money = 10
roberto_money = 100
roberto_money, gordon_money = gordon_money, roberto_money
print(roberto_money)
print(gordon_money)

10
100

The following sequence is happening here: First, the variables `gordon_money` and `roberto_money` are packed into a tuple (gordon_money, roberto_money). These values are then assigned to the left hand side of the `=` sign. Lastly, the tuple is unpacked into 2 variables `roberto_money` and `gordon_money`.

### Example 5 (Placeholder Variable Name):

In [15]:
first, _, third = a
print(first)
print(_)
print(third)

G
o
r

In [ ]:
### ? what if use _ twice in one unpacking?
### garrett: it is fine. it does the assignments from left to right, so _ will keep the last value assigned

### Example 6 (Arbitrary Arguments):

In [19]:
first, second, *last = "G", "o", "r", "d", "o", "n"
print(first)
print(second)
print(last)

G
o
['r', 'd', 'o', 'n']

In [ ]:
### *last allows the remaining members of the tuple to go into a tuple with the name last
### need to have a place to put each item that gets unpacked
### garret: this is a pretty unique function of python
### garrett: this also works for lists, but usually used for tuples

When we see how to create functions in Lecture 3, arbitrary argumens will be very important so keep this style in mind.

### Problem 7:

The end result is to have 2 variables (`latitude` and `longitude`) which will store your current latitude and longitude. To create these variables, use packing and unpacking as shown above. If you don't know your current latitude and longitude, type in your address or nearest landmark or city in the searchbar of [this link](https://mynasadata.larc.nasa.gov/latitudelongitude-finder/)

Notes
- Use string formatting to output your result 
- Do not just create 2 separate variables 
- It is inefficient (i.e. not "Pythonic") to just index a list to arrive at your result

In [22]:
# Write your code here
latitude, longitude = 41.8, 87.6
print(f"Our latitude is {latitude} and our longitude is {longitude}")

Our latitude is 41.8 and our longitude is 87.6

### 2.2.16 Overview of Sequence Type 4 - Range

In [24]:
### range
### ? can we start 10, end 1, step -1 ?    ----> Garrett: can't step by a negative amount  ### but later it seems we can?

__Overview:__
- __[Range](https://docs.python.org/3/library/stdtypes.html#range):__ Range type is an immutable sequence of numbers 
- The range type has 3 arguments (similar to a slice): `start`, `stop`, and `step`

__Helpful Points:__
1. Range types are most commonly used for looping a specific number of times in `for` loops (see lecture 3 for detailed explanation of loops)
2. Range types are advantageous over a regular `list` or `tuple` since a `range` object will always take the same, small amount of memory in your computer, no matter the size of the range it represents (i.e. a range of 5 numbers will take the same amount of memory as a range of 5M numbers)
3. The range object only stores the `start`, `stop`, and `step` values in memory and then calculates the individual items as needed

### 2.2.17 Creating Ranges

__Overview:__
- A `range` object can be created only one way with the general format of `start`, `stop`, and `step`

__Helpful Points:__
1. Similar to slices, some of the arguments in the range may be ommitted (i.e. `start` defaults to 0, if not provided)
2. We will see below that when printing a range, we are unable to see the actual numbers. To see the sequence of numbers, we have to convert the `range` type to a `list`

__Practice:__ Examples of creating ranges in Python

### Example 1 (Creating `range` with `stop` only):

In [25]:
range(10)
range(1000)

range(0, 1000)

In [26]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
print(range(10)) # this really means range(0, 10, 1)

range(0, 10)

In [28]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# perform an action 10 times 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Example 2 (Creating `range` with `start` and `stop` only):

In [31]:
print(range(1,10)) # this really means range(1, 10, 1)

range(1, 10)

In [32]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Example 3 (Creating `range` with `start`, `stop`, and `step`):

In [33]:
print(range(0, 50, 5))

range(0, 50, 5)

In [34]:
print(list(range(0, 50, 5)))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

### Example 4 (Creating `range` with negative `stop` and `step`):

In [1]:
print(list(range(5, -5, 1)))

[]

In [2]:
print(list(range(5, -5, -1))) # if a negative step is used, the start must be greater than the stop

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

### 2.2.18 Accessing Elements within Ranges

__Overview:__
- Each item within a range are referred to as __elements__ and they can easily be accessed (for example, if you want to extract the second element of a range)
- Similar to lists, strings, and tuples, each element is assigned a number beginning with 0 
- Both methods of indexing (single-indexing and multi-indexing by slicing) as outlined in section 2.2.5 are also applicable for range 

__Helpful Points:__
1. Similar to lists, strings, and tuples, range can only be indexed by `int` and not any other type (i.e. `bool`)
2. The peculiar but helpful features of indexing-out-of-range are also present with range 

__Practice:__ Examples of accessing elements within ranges

### Example 1 (Index Method 1):

In [35]:
my_range = range(10)
print(my_range)
print(list(my_range))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# 4th element from the left (with and without saving range as a variable)
print(my_range[3])
print(range(10)[3])
type(range(10)[3])

3
3

int

### Example 2 (Index Method 2):

In [37]:
# slice from 1st element to 4th element (5th element minus one) by step 1 
print(my_range[1:5])
type(my_range[1:5])

range(1, 5)

range

Note: not all types of examples are shown here with ranges since the process is identical to that of accessing elements within the other sequence types. If you want to refresh your memory, see section 2.2.5 and follow examples 1 - 6, but swap the list for a range.

### 2.2.19 More Range Operations

__Overview:__
- Recall in section 2.2.2 the types of operations available for Sequence Types 
- Since the `range` type is immutable, we can only perform the Common Sequence Operations and NOT the Mutable Sequence Type Operations (like we did for lists)
- Ranges implement all the Common Sequence Operations EXCEPT concatenation and repetition (unlike lists, strings, and tuples - the other sequence types). The reason being is that range objects can only represent sequences that follow a strict pattern and when reptition/concatenation is performed, this pattern is compromised

__Helpful Points:__
1. Below, we will cover the Common Sequence Type Operations (membership test operations and misc. actions, but NOT repetition and concatenation)

__Practice:__ Examples of String Operations in Python

### Example 1.1 (Membership Test Operations):

In [38]:
my_range = range(0, 21, 3)
print(my_range)

range(0, 21, 3)

In [39]:
6 in my_range

True

In [40]:
10 in my_range

False

In [41]:
10 not in my_range

True

### Example 1.2 (Value Comparisons with Ranges):

It is possible to test range objects for equality with the operators `==` and `!=`, however the objects are compared based on their sequences and NOT based on their object identities. Note, that two range objects may be equal, but have different `start`, `stop`, and `step` attributes (see below for example).

In [42]:
range_1 = range(0, 3, 2)
print(list(range_1))
range_2 = range(0, 4, 2)
print(list(range_2))

[0, 2]
[0, 2]

In [43]:
print(range_1 == range_2)

True

In [47]:
### garrett: they have the same range despite being defined differently
print(id(range_1))
print(id(range_2))

2217662605520
2217663248208

In [48]:
print(id(range_1))
print(id(range_2))

2217662605520
2217663248208

In [49]:
print(range_1 is range_2)

False

### Example 1.3 (Misc. Actions on Ranges):

### Example 1.3.1 (Simple Actions - `len`, `min`, `max`, `index`, `count`):

In [50]:
my_range_1 = range(-1000, 1000, 10)
print(my_range_1)

range(-1000, 1000, 10)

In [51]:
# find the length of the range (number of elements in the range)
len(my_range_1)

200

In [52]:
# find the minimum value of the range (smallest number in the range)
min(my_range_1)

-1000

In [53]:
# find the maximum value of the range (largest number in the range)
max(my_range_1)

990

In [54]:
# find the index of the first occurrence of 100 in my_range_1
my_range_1.index(100)

110

In [55]:
# find the total number of occurrences of 10 in my_string 
my_range_1.count(10)

1

### Example 1.3.2 (Advanced Actions - `sort`):

Since ranges are immutable, sorting ranges in Python can only be done 1 way - with the generic `sorted()` function which simply returns a copy of the object and does not attempty to modify the original range.

In [57]:
my_range = range(77, -77, -11)
print(my_range)

range(77, -77, -11)

In [58]:
### apparently can step by a negative number afterall

In [59]:
# sort the range
print(sorted(my_range))
print(my_range)

[-66, -55, -44, -33, -22, -11, 0, 11, 22, 33, 44, 55, 66, 77]
range(77, -77, -11)

We can see that the `sorted()` function simply returned a copy of the original range, but in `list` form, but when we print the original range, it has not changed. This is an example of not in-place.

### Problem 8:

Create a `range` that goes from `500` to `5000` by steps of `250`. Check if `7550` is in our range. 

Notes
- Convert your range to a list and print it to see all elements of your range

In [67]:
# Write your code here
my_range_1 = range(500, 5001, 250)   ### garrett: use 5001 to have 5000 be in the numbers the the range puts out
print(7550 in my_range_1)
print(list(my_range_1))

False
[500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3250, 3500, 3750, 4000, 4250, 4500, 4750, 5000]

## 2.3 Set Types in Python

### 2.3.1 What is a Set Type?

__Overview:__
- __[Set Type](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset):__ The two Set Types in Python refer to `set` and `frozenset`, although we will only cover the `set` type in this basic class
- Set Types in Python have the following characteristics:
> - Set Types are unordered (each element from left to right is NOT assigned a number - this disables our ability to index (find) elements within a set type)
> - Set Types have to contain only unique elements
> - Set Types can be mutable or immutable 

__Helpful Points:__ 
1. The term "set" in the Set Type is chosen because the type resembles the term ["set"](https://en.wikipedia.org/wiki/Set_(mathematics) in mathematics

### 2.3.2 Set Type Operations

__Overview:__
- Since Set Types are unordered (they are not sequences), they are NOT subject to the Common Sequence Operations (with some exceptions) that we have used for strings, lists, tuples and ranges 
- However, there exists an equivalent list of operations that are possible for set types (both `set` and `frozenset`) which include some of the Common Sequence Operations
- Depending on if the Set Type is mutable or immutable, it is subject to a different set of operations:
> 1. __Mutable Set Type (`set`)__: Mutable Set Type can be operated on using the __common set operations__ AND the __mutable set type operations__
> 2. __Immutable Set Type (`frozenset`)__: Immutable Set Type can be operated on using ONLY the __common set operations__

- The __common set operations__ can be grouped together into the following categories:
> 1. Membership Test Operations
> 2. Value Comparisons 
> 3. Mathematical Operations (i.e. intersection, union, difference, symmetric difference, etc.) 
> 4. Other operations (removing duplicates from other types, len, copy)

- The __mutable set type operations__ can be grouped together into the following categories:
>1. Updating elements 
>2. Adding elements 
>3. Removing elements

__Helpful Points:__
1. We will only explore the set operations of `set` not `frozenset`

### 2.3.3 Overview of Set Type 1 - `set`

__Overview:__
- __[set](https://docs.python.org/3/library/stdtypes.html#set):__ Sets are mutable objects that are used to store distinct elements

__Helpful Points:__
1. Sets are defined by curly brackets `{` and `}`
2. Each element in a set is separated by a comma

### 2.3.4 Creating Sets

__Overview:__
- There are two ways to create a set in Python:
1. Method 1: Using a pair of curly brackets with at least one element inside the curly brackets 
2. Method 2: Using the __Type Constructor__

__Helpful Points:__
1. Similar to lists, tuples, and strings, it is also possible to create a set within a set also known as a __Nested Set__ 
2. Be careful when initializing a new set that you enter at least one element inside the curly brackets, otherwise the interpreter will understand the command as initializing a dictionary (explained below)

__Practice:__ Examples of creating sets in Python

### Example 1 (Create Set with Method 1)

In [72]:
set_1 = {}
print(set_1)
type(set_1)
### Garrett: be careful to not instantiate a dictionary when you want a set

{}

dict

Note if you don't include an element within the curly brackets, you are actually creating a `dict` type (dictionary)

In [69]:
set_2 = {1,2,3,4,5,5}
print(set_2)
type(set_2)

{1, 2, 3, 4, 5}

set

### Example 2 (Create Set with Method 2)

In [70]:
set_2 = set()
print(set_2)
type(set_2)

set()

set

### 2.3.5 Accessing Elements within Sets

- Remember that Set Types are __unordered__ which means their elements do not have an implicit number attached to them and therefore can NOT be accessed
- This means we can not perform any indexing or slicing on sets

In [74]:
my_set = {1,2,3}
my_set[0]

TypeError: 'set' object is not subscriptable

In [75]:
print(my_set)
### ? what determines the print order? does it matter?

{1, 2, 3}

### 2.3.6 More Set Operations

__Overview:__
- Recall in section 2.3.3 the types of operations available for Set Types 
- Since the `set` type is mutable (unlike the `frozenset` type which is not covered in this course), we can perform both the common set operations and the mutable set type operations 

__Helpful Points:__
1. Below, Part 1 will cover the common set operations
2. Below, Part 2 will cover the mutable set type operations 

__Practice:__ Examples of Set Operations in Python

### Part 1: Common Set Operations

### Example 1.1 (Membership Tests):

In [76]:
my_set = {1, 5, "True"}
print(my_set)

{1, 'True', 5}

In [77]:
"G" in my_set

False

In [78]:
5 not in my_set

False

### Example 1.2 (Value Comparisons):

### Example 1.2.1 (Subset):

In [79]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}

In [80]:
set_1 <= set_2 # tests whether every element in set_1 is in set_2
### Garrett: ie is set_1 a subset of set_2?

False

In [81]:
set_1.issubset(set_2)

False

### Example 1.2.2 (Proper Subset):

In [82]:
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3, 4, 5}

In [83]:
set_a <= set_b # tests whether every element in set_a is in set_b

True

In [84]:
set_a < set_b # tests whether set_a <= set_b and set_a != set_b

False

We can see that `set_a` is a subset of `set_b` but NOT a strict/proper subset of `set_b`

### Example 1.2.3 (Superset):

In [85]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}

In [86]:
set_1 >= set_2 # tests whether every element in set_2 is in set_1

False

In [87]:
set_1.issuperset(set_2)

False

### Example 1.2.4 (Proper Superset):

In [88]:
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3, 4, 5}

In [89]:
set_a >= set_b # tests whether every element in set_b is in set_a

True

In [90]:
set_a > set_b # tests whether set_a >= set_b and set_a != set_b

False

We can see that `set_a` is a superset of `set_b` but NOT  strict/proper superset of `set_b`

### Example 1.3 (Mathematical Operations) (BONUS):

### Example 1.3.1 (Union)

In [91]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}

In [92]:
set_1.union(set_2) # returns a new set with elements from set_1 and set_2

{1, 2, 3, 4, 5, 6, 7}

In [93]:
set_1 | set_2 # bitwise OR       
### (really, this means usion here, but it uses the same symbol as bitwise or)
### (and works in an analogous way, I think)
### garrett: not super important, but see extra material of lecture 1 (ie notebook 1)

{1, 2, 3, 4, 5, 6, 7}

### Example 1.3.2 (Intersection):

In [94]:
set_1.intersection(set_2) # returns a new set with elements common to set_1 and set_2

{3, 4, 5}

In [95]:
set_1 & set_2 # bitwise AND

{3, 4, 5}

### Example 1.3.3 (Difference):

In [96]:
set_1.difference(set_2) # returns a new set with elements in set_1 that are not in set_2

{1, 2}

In [97]:
set_1 - set_2

{1, 2}

### Example 1.3.4 (Symmetric Difference):

In [98]:
set_1.symmetric_difference(set_2) # returns a new set with elements in either set_1 or set_2, but not both

{1, 2, 6, 7}

In [99]:
set_1 ^ set_2 # bitwise XOR 
### a set operation, but it works in a similar way to how this symbol does in bitwise or on integers

{1, 2, 6, 7}

### Example 1.3.5 (Disjoint):

In [101]:
set_1.isdisjoint(set_2) # returns true if set_1 has no elements in common with set_2 (intersection is the empty set)

False

In [ ]:
### garrett: can't put set, dict, or list within a set

### Example 1.4 (Other Operations):

### Example 1.4.1 (Remove Duplicates):

In [102]:
dup_list = ["G", "G", "O", "R", "D", "O", "O", "N"]
print(dup_list)

['G', 'G', 'O', 'R', 'D', 'O', 'O', 'N']

In [103]:
set(dup_list) # remove duplicates from a list in one line of code

{'D', 'G', 'N', 'O', 'R'}

In [105]:
# remove duplicates from a list using set

dup_list_1 = set(dup_list)
dup_list_2 = list(dup_list_1)
print(dup_list_1)
print(dup_list_2)

### ? any rhyme or reason to how it
### garrett: nope, ... might depend on memory location or something - can vary on different sessions

{'R', 'N', 'O', 'D', 'G'}
['R', 'N', 'O', 'D', 'G']

### Example 1.4.2 (Length):

In [106]:
set_1 = {1, 2, 3, 4, 5}

In [107]:
len(set_1)

5

### Example 1.4.3 (Copy):

In [108]:
set_1_copy = set_1.copy() # returns a new set with a shallow copy of set_1 
print(set_1)

{1, 2, 3, 4, 5}

### Part 2: Mutable Set Type Operations

### Example 2.1 (Updating Elements):

In [109]:
my_list = [1,2,3]
my_list[0] = 5
print(my_list)

[5, 2, 3]

In [110]:
set_1 = {1, 2, 3, 4, 5}
set_1[0] = 1
set_2 = {3, 4, 5, 6, 7}

TypeError: 'set' object does not support item assignment

In [111]:
set_1.update(set_2) # update set_1, adding elements from set_2 
print(set_1)

{1, 2, 3, 4, 5, 6, 7}

We can also perform `intersection_update`, `difference_update`, and `symmetric_difference_update` - see the documentation

In [112]:
### okay, if I need this I can look in the python documentation

### Example 2.2 (Adding Elements):

In [113]:
set_1 = {1, 2, 3, 4, 5}

In [114]:
# add an element that is not already in the set 
set_1.add(6)
print(set_1)

{1, 2, 3, 4, 5, 6}

In [115]:
# add an element that is already in the set
set_1.add(5)
print(set_1)

{1, 2, 3, 4, 5, 6}

### Example 2.3 (Removing Elements):

In [116]:
set_1.remove(1) 
print(set_1)

{2, 3, 4, 5, 6}

In [117]:
set_1.remove(10) # raises an error if the element you are trying to add is not in the set

KeyError: 10

In [118]:
set_1.discard(2)
print(set_1)

{3, 4, 5, 6}

In [119]:
set_1.discard(10) # does not raise an error if the element you are trying to add is not in the set 
print(set_1)

{3, 4, 5, 6}

In [121]:
set_1.clear() # removes all elements from the set 
print(set_1)

set()

### 2.4 Mapping Types in Python

### 2.4.1 What is a Mapping Type?

__Overview:__
- __[Mapping Type](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict):__ The only Mapping Type in Python is the dictionary (`dict` type)
- Mapping Types map (connect) values to objects (this will become clear below) 
- Mapping Types in Python have the following characteristics:
> - Mapping Types are unordered (each element from left to right is NOT assigned a number - this disables our ability to use integer indexing to index (find) elements within a mapping type)
> - Mapping Types are mutable 

__Helpful Points:__ 
1. Mapping Type is used very commonly in Python so get used to the format and its characteristics
2. Although Mapping Type is unordered, there are still ways of accessing/indexing elements (but these ways are different than the integer indexing that existed for the Sequence Type)

### 2.4.2 Common Operations of the Mapping Type

- Since Mapping Types are unordered (they are not sequences), they are NOT subject to the Common Sequence Operations (with some exceptions) that we have used for strings, lists, tuples and ranges
- However, there exists an equivalent list of operations (__common mapping type operations__) that are possible for the mapping type (`dict`) which include some of the Common Sequence Operations
- Since Mapping Type is mutable, it is also subject to a list of __mutable mapping type operations__

- The __common mapping type operations__ can be grouped together into the following categories:
> 1. Membership Test Operations
> 2. Other operations (len, copy)

- The __mutable mapping type operations__ can be grouped together into the following categories:
> 1. Changing elements
> 2. Adding elements
> 3. Removing elements

__Helpful Points:__ 
1. Since Mapping Types do not record element position or order of insertion, they do not suppoert sequence-like behavior

### 2.4.3 Overview of Mapping Type 1 - `dict`

__Overview:__
- __`dict`__: Dictionaries are mutable objects that are used to store a collection of key-value pairs
- key-value pairs will be discussed below, but you can think of this as the `key` being the descriptor and the `value` being what is being described. The `key` does not have to be an integer which will be very useful 

__Helpful Points:__
1. Dictionaries are defined by curly brackets `{` and `}` (similar to sets) 
2. Each item (key-value pair) in a dictionary is separated by a comma 
3. Keys and values are separated by a colon (:) as such `key:value`
4. Keys can be of different types, but they have to be __immutable__ (`int`, `float`, `str`, `tuple`)
5. Dictionaries can be used to make programming in Python more efficient

### 2.4.4 Creating Dictionaries

__Overview:__
- There are multiple ways to create a Dictionary in Python:
> 1. Method 1: Using a pair of curly brackets to denote the empty dictionary (remember we couldn't use this in a set because it was reserved for dictionary use)
> 2. Method 2: Using curly brackets, separating items (key-value pairs) with commas 
> 3. Method 3: Using the __Type Constructor__ with no contents to denote empty dictionary 
> 4. Method 4: Using the __Type Constructor__ with a list that contains tuples as items where each tuple is a key-value pair 
> 5. Method 5: Using the __Type Constructor__ with no enclosing and key-item pairs being assigned as variables 
> 6. Method 6: Using the __Type Constructor__ with curly brackets, separating items (key-value pairs) with commas 

__Helpful Points:__
1. It is also possible to create a dictionary within a dictionary also known as a __Nested Dictionary__ 

__Practice:__ Examples of creating dictionaries in Python

### Example 1 (Create Dictionary with Method 1)

In [124]:
empty_dict = {}
print(empty_dict)
type(empty_dict)

{}

dict

### Example 2 (Create Dictionary with Method 2)

In [125]:
non_empty_dict = {"name":"Gordon", "course":"BPM"}
print(non_empty_dict)

{'name': 'Gordon', 'course': 'BPM'}

### Example 3 (Create Dictionary with Method 3)

In [126]:
empty_dict_1 = dict()
print(empty_dict)
type(empty_dict)

{}

dict

### Example 4 (Create Dictionary with Method 4)

In [128]:
dict_4 = dict([("ten",10), ("nine",9), ("eight",8)])
print(dict_4)

{'ten': 10, 'nine': 9, 'eight': 8}

In [129]:
### garrett: convert list of tuples to a dict

### Example 5 (Create Dictionary with Method 5)

In [130]:
dict_5 = dict(ten=10, nine=9, eight=8)
print(dict_5)

{'ten': 10, 'nine': 9, 'eight': 8}

### Example 6 (Create Dictionary with Method 6)

In [132]:
dict_6 = dict({"ten":10, "nine":9, "eight":8})
print(dict_6)

{'ten': 10, 'nine': 9, 'eight': 8}

In [133]:
### Garrett: we will see later why it is interesting to make a dictionary from a dictionary

The dictionaries created above all followed the same format: `key`:`value` and notice that `key` can be `str` type or `int` type (or any immutable type).

### Example 7 (Create Dictionary with Lists)

In [134]:
dict_7 = {"course designer":["Gordon", "Roberto"], "course name":"BPM"}
print(dict_7)

{'course designer': ['Gordon', 'Roberto'], 'course name': 'BPM'}

### Example 8 (Create Nested Dictionary)

In [135]:
dict_8 = {"course designer":["Gordon", "Roberto"], "course info":{"course code":101, "course name":"BPM"}}
print(dict_8)

{'course designer': ['Gordon', 'Roberto'], 'course info': {'course code': 101, 'course name': 'BPM'}}

### 2.4.5 Accessing Elements within Dictionaries

__Overview:__
- Although Dictionaries are unordered and their elements can not be accessed using integer indexing, we are still able to retrieve keys, values and items using similar techniques

__Helpful Points:__
1. Key retrieval can be done both individually using indexing and in bulk using built-in functions
2. Value retrieval can only be done in bulk using built-in functions
3. Item retrieval can only be done in bulk using built-in functions 

__Practice:__ Examples of accessing elements within dictionaries

### Example 1 (Accessing Keys - Individually)

In [136]:
my_dict = {"co_designer_1":"Gordon", "co_designer_2":"Roberto", "course_number":101}
print(my_dict)

{'co_designer_1': 'Gordon', 'co_designer_2': 'Roberto', 'course_number': 101}

In [137]:
my_dict["co_designer_1"] # returns the item of my_dict with key "co_designer_1"

'Gordon'

In [138]:
my_dict["co_designer_3"] # if the key is not the dictionary, raises an error

KeyError: 'co_designer_3'

In [140]:
my_dict.get("co_designer_3", "No such key") # avoid the possibility of error with the get function

'No such key'

In [141]:
### apparently get function can return "No such key" instead of returning an error of the key doesn't exist

In [142]:
# accessing keys when values are lists 
dict_7 = {"course designer":["Gordon", "Roberto"], "course name":"BPM"}
print(dict_7["course designer"][0])

Gordon

In [143]:
# accessing keys when values are dictionaries
dict_8 = {"course designer":["Gordon", "Roberto"], "course info":{"course code":101, "course name":"BPM"}}
print(dict_8["course info"]["course code"])

101

### Example 2 (Accessing Keys - Bulk)

In [144]:
print(my_dict.keys()) # returns a new view of the dictionary's items (refer to example 2.4.1 for a refresher on views)
print(list(my_dict.keys()))

dict_keys(['co_designer_1', 'co_designer_2', 'course_number'])
['co_designer_1', 'co_designer_2', 'course_number']

### Example 3 (Accessing Values - Bulk)

In [145]:
print(my_dict.values()) # returns a new view of the dictionary's values 
print(list(my_dict.values()))

dict_values(['Gordon', 'Roberto', 101])
['Gordon', 'Roberto', 101]

### Example 4 (Accessing Items - Bulk)

In [146]:
print(my_dict.items()) # returns a new view of the dictionary's items 
print(list(my_dict.items()))

dict_items([('co_designer_1', 'Gordon'), ('co_designer_2', 'Roberto'), ('course_number', 101)])
[('co_designer_1', 'Gordon'), ('co_designer_2', 'Roberto'), ('course_number', 101)]

### 2.4.6 More Dictionary Operations

__Overview:__
- Since the `dict` type is mutable, we can perform both the common mapping operations and the mutable mapping type operations

__Helpful Points:__
1. Below, Part 1 will cover the common mapping operations (membership test operations and other operations)
2. Below, Part 2 will cover the mutable mapping type operations (changing elements, adding elements, and removing elements)

__Practice:__ Examples of Dictionary Operations in Python

### Part 1: Common mapping operations

### Example 1.1 (Membership Test Operations):

In [147]:
my_dict = {"co_designer_1":"Gordon", "co_designer_2":"Roberto", "course_number":101}

In [148]:
"co_designer_1" in my_dict

True

In [149]:
"co_deisgner_3" not in my_dict

True

Note membership test operations can only be done on the keys since individual values and items can not be accessed (see above)

### Example 1.2 (Copy):

In [150]:
my_dict_copy = my_dict.copy() # return a shallow copy of the dictionary 
print(my_dict_copy)

{'co_designer_1': 'Gordon', 'co_designer_2': 'Roberto', 'course_number': 101}

### Part 2: Mutable mapping type operations

### Example 2.1 (Changing Elements):

In [151]:
my_dict = {"co_designer_1":"Gordon", "co_designer_2":"Roberto", "course_number":101}

In [152]:
my_dict["co_designer_1"] = "Gordon Dri"
print(my_dict)

{'co_designer_1': 'Gordon Dri', 'co_designer_2': 'Roberto', 'course_number': 101}

### Example 2.2 (Adding Elements):

In [153]:
my_dict["course_month"] = "May" # adds new item if the key doesn't already exist 
print(my_dict)

{'co_designer_1': 'Gordon Dri', 'co_designer_2': 'Roberto', 'course_number': 101, 'course_month': 'May'}

In [155]:
my_dict = {"co_designer_1":"Gordon", "co_designer_2":"Roberto", "course_number":101}
my_dict_new = {"course_month": "May", "course_title": "BPM"}
my_dict.update(my_dict_new) # update the dictionary with the key/value pairs from my_dict_new
print(my_dict)

### like update in set
### #fup left off here in studying

{'co_designer_1': 'Gordon', 'co_designer_2': 'Roberto', 'course_number': 101, 'course_month': 'May', 'course_title': 'BPM'}

### Example 2.3 (Removing Elements):

In [156]:
my_dict = {"co_designer_1":"Gordon", "co_designer_2":"Roberto", "course_number":101}

In [157]:
del my_dict["co_designer_1"]
print(my_dict)

{'co_designer_2': 'Roberto', 'course_number': 101}

In [158]:
my_dict.clear()
print(my_dict)

{}

### 2.4.7 Packing and Unpacking with Dictionaries (BONUS)

__Overview:__
- Recall in section 2.2.15, that tuples had the convenient feature of packing and unpacking. Well, dictionaries also share in this convenient feature 

__Helpful Points:__
1. When we discuss functions and kewyword arguments in lecture 3, we will revisit this topic and you will appreciate the usefulness
2. Unlike tuples where the `*` (asterix) notation was used to denote arbitrary arguments, dictionaries use the `**` (double asterix) notiation to denote arbitrary arguments

__Practice:__ Examples of Packing and Unpacking with Dictionaries in Python

### Example 1 (Packing and Unpacking - 1):

In [159]:
my_dict = {'1':'one', '2':'two'}
dict(**my_dict, six=6) # use the double asterix to unpack the my_dict variable

{'1': 'one', '2': 'two', 'six': 6}

### Example 2 (Packing and Unpacking - 2):

In [ ]:
my_dict = {'1':'one', '2':'two'}
dict(**my_dict, three=3, **{'4':'four'}) # use the double asterix to unpack the my_dict variable and nested dict

### Example 3 (Packing and Unpacking - 3):

In [ ]:
{**{1: 'one', 2:'two'}, 3:'three'} # use the double asterix to unpack the nested dict

### Problem 9

Create a dictionary 3 different ways that contain key-value pairs corresponding to your city of birth, country of birth and current city. Add an element to any of the 3 dictionaries which contains your current country.

In [4]:
# Write your code here
### problem 9
erik_dict_1 = {'birth_city': 'Albany', 'birth_country': 'United States', 'current_city': 'Chicago'}
### #fup finish this later

dict_4 = dict([("ten",10), ("nine",9), ("eight",8)])
erik_dict_2 = dict([('birth_city', 'Albany'), ('birth_country', 'United States'), ('current_city', 'Chicago')])

dict_5 = dict(ten=10, nine=9, eight=8)
erik_dict_3 = dict(birth_city = 'Albany', birth_countrey = 'United States', current_city = 'Chicago')

SyntaxError: keyword can't be an expression (<ipython-input-4-f57ab719cd3e>, line 10)

In [ ]:
### end of the main stuff
### start of answers to the problems

### ANSWERS TO LECTURE 2 PROBLEMS:

### Problem 1:

Create a list and enter in the items `"c"`, `"a"`, `"b"`, `1`, `3`, `2` then reverse this list so it looks like `2`, `3`, ... Print your result.  

- Use list slicing in your answer 
- Do not use any embedded functions in Python to reverse the list

In [ ]:
my_list = ["c", "a", "b", 1, 3, 2]
my_list_reversed = my_list[::-1]
print(my_list_reversed)

### Problem 2:

Create a list and enter in the items `"c"`, `"a"`, `"b"`, `1`, `3`, `2` then use slicing to pull out the subset `["b", 3]` ... Print your result.

- Use list slicing in your answer

In [ ]:
my_list = ["c", "a", "b", 1, 3, 2]
my_list_subset = my_list[2::2]
print(my_list_subset)

### Problem 3:

Create 2 lists: the first list with your first name and the second list with your last name. Combine the two lists to make a list that contains your entire name. Repeat your name as many times as letters in your full name. 

Try adding your last name to your first name using both list concatenation and built-in functions.

In [ ]:
first_name = ["G", "o", "r", "d", "o", "n"]
last_name = ["D", "r", "i"]

In [ ]:
# method 1
full_name_1 = first_name + last_name 
full_name_1

In [ ]:
# method 2
first_name[len(first_name):len(first_name)] = last_name
first_name

In [ ]:
# method 3
first_name = ["G", "o", "r", "d", "o", "n"]
first_name.extend(last_name)
first_name

In [ ]:
print(full_name_1 * len(full_name_1)) # using method 1

### Problem 4:

Create 2 lists: the first list with your first name and the second list with your last name. Combine the two lists to make a list that contains your entire name. Add your middle name to this combined list between your first and last name. If you don't have a middle name add `["m", "i", "d", "d", "l", "e"]`.

In [ ]:
first_name = ["G", "a", "r", "r", "e", "t", "t"]
last_name = ["H", "o", "f", "f", "m", "a", "n"]
full_name = first_name + last_name 

middle = ["L", "e", "e"]
full_name[len(first_name):len(first_name)] = middle
full_name

### Problem 5

Repeat the first part of problem 2 (combining first and last name), but using strings.

Notes:
- Create the 2 strings in lower case and then use a built-in string method to capitalize the words (see [this link](https://docs.python.org/3/library/stdtypes.html#string-methods) to find the proper function to use)
- Use string formatting to output your results

In [ ]:
first_name = "gordon"
last_name = "dri"

In [ ]:
first_name = first_name.capitalize()
last_name = last_name.capitalize()

In [ ]:
full_name = first_name + " " + last_name
full_name

In [ ]:
print("My full name is {}".format(full_name))

### Problem 6

Replace `"Brussels Sprouts"` with your favorite food in the string `"My favorite food is Brussels Sprouts"`.

Notes:
- Use the `replace` commond string method

In [ ]:
fav_food = "My favorite food is Brussels Sprouts"
fav_food = fav_food.replace("Brussels Sprouts", "Pizza")

print(fav_food)

### Problem 7:

The end result is to have 2 variables (`latitude` and `longitude`) which will store your current latitude and longitude. To create these variables, use packing and unpacking as shown above. If you don't know your current latitude and longitude, type in your address or nearest landmark or city in the searchbar of [this link](https://mynasadata.larc.nasa.gov/latitudelongitude-finder/)

Notes
- Use string formatting to output your result 
- Do not just create 2 separate variables 
- It is inefficient (i.e. not "Pythonic") to just index a list to arrive at your result

In [ ]:
my_coordinates = [41.889649, -87.622225]

In [ ]:
# method 1 (inefficient and not Pythonic)
latitude = my_coordinates[0]
longitude = my_coordinates[1]

In [ ]:
# method 1 (efficient and Pythonic)
latitude, longitude = my_coordinates

In [ ]:
print("My latitude is {} and my longitude is {}".format(latitude, longitude))

### Problem 8:

Create a `range` that goes from `500` to `5000` by steps of `250`. Check if `7550` is in our range. 

Notes
- Convert your range to a list and print it to see all elements of your range

In [ ]:
my_range = range(500,5000,250)
print(7750 in my_range)
print(list(my_range))

### Problem 9

Create a dictionary 3 different ways that contain key-value pairs corresponding to your city of birth, country of birth and current city. Add an element to any of the 3 dictionaries which contains your current country.

In [ ]:
# method 1
my_dict_1 = dict([("city_birth", "Toronto"), ("country_birth", "Canada"), ("current_city", "Chicago")])
print(my_dict_1)

In [ ]:
# method 2
my_dict_2 = {"city_birth":"Toronto", "country_birth":"Canada", "current_city":"Chicago"}
print(my_dict_2)

In [ ]:
# method 3
my_dict_3 = dict(city_birth = "Toronto", country_birth = "Canada", current_city = "Chicago")
print(my_dict_3)

In [ ]:
# add an element to dictionary from method 1
my_dict_1["current_country"] = "United States"
print(my_dict_1)